<!-- IF postrow.S_FORUMPORTAL_TOPIC_ACTIONS -->
<li><span class="forumportal-post-actions-label">{L_FORUMPORTAL_QUICK_ACTIONS}</span></li>
<!-- IF postrow.S_FORUMPORTAL_CAN_TOGGLE -->
<li>
	<a href="{postrow.U_FORUMPORTAL_TOGGLE}" class="button button-icon-only<!-- IF postrow.S_FORUMPORTAL_TOPIC_PUBLISHED --> forumportal-post-action--active<!-- ENDIF -->" title="<!-- IF postrow.S_FORUMPORTAL_TOPIC_PUBLISHED -->{L_FORUMPORTAL_REMOVE_FROM_PORTAL}<!-- ELSE -->{L_FORUMPORTAL_PUBLISH_TO_PORTAL}<!-- ENDIF -->" aria-label="<!-- IF postrow.S_FORUMPORTAL_TOPIC_PUBLISHED -->{L_FORUMPORTAL_REMOVE_FROM_PORTAL}<!-- ELSE -->{L_FORUMPORTAL_PUBLISH_TO_PORTAL}<!-- ENDIF -->">
		<i class="icon fa-thumb-tack fa-fw" aria-hidden="true"></i><span class="sr-only"><!-- IF postrow.S_FORUMPORTAL_TOPIC_PUBLISHED -->{L_FORUMPORTAL_REMOVE_FROM_PORTAL}<!-- ELSE -->{L_FORUMPORTAL_PUBLISH_TO_PORTAL}<!-- ENDIF --></span>
	</a>
</li>
<!-- ENDIF -->
<!-- IF postrow.S_FORUMPORTAL_CAN_FEATURE -->
<li>
	<a href="{postrow.U_FORUMPORTAL_FEATURE}" class="button button-icon-only<!-- IF postrow.S_FORUMPORTAL_TOPIC_FEATURED --> forumportal-post-action--active<!-- ENDIF -->" title="<!-- IF postrow.S_FORUMPORTAL_TOPIC_FEATURED -->{L_FORUMPORTAL_UNFEATURE_TOPIC}<!-- ELSE -->{L_FORUMPORTAL_FEATURE_TOPIC}<!-- ENDIF -->" aria-label="<!-- IF postrow.S_FORUMPORTAL_TOPIC_FEATURED -->{L_FORUMPORTAL_UNFEATURE_TOPIC}<!-- ELSE -->{L_FORUMPORTAL_FEATURE_TOPIC}<!-- ENDIF -->">
		<i class="icon fa-star fa-fw" aria-hidden="true"></i><span class="sr-only"><!-- IF postrow.S_FORUMPORTAL_TOPIC_FEATURED -->{L_FORUMPORTAL_UNFEATURE_TOPIC}<!-- ELSE -->{L_FORUMPORTAL_FEATURE_TOPIC}<!-- ENDIF --></span>
	</a>
</li>
<!-- ENDIF -->
<!-- IF postrow.S_FORUMPORTAL_CAN_EDIT -->
<li>
	<a href="{postrow.U_FORUMPORTAL_EDIT}" class="button button-icon-only" title="{L_FORUMPORTAL_EDIT_PORTAL_DATA}" aria-label="{L_FORUMPORTAL_EDIT_PORTAL_DATA}">
		<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{L_FORUMPORTAL_EDIT_PORTAL_DATA}</span>
	</a>
</li>
<!-- ENDIF -->
<!-- ENDIF -->
